<!DOCTYPE html>
<html lang="en">
<head>
<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="card" th:fragment="footer">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Desenvolvido por:</h5>
            <a href="https://github.com/Gaburiru6" target="_blank" class="btn btn-primary">Gabriel S. Soares</a>
            <a href="https://github.com/Bruci87" target="_blank" class="btn btn-primary">Silvio G. Bruciaferro</a>        </div>
    </div>
</div>
</body>
</html>