<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav id="navigation" class="navHome">
  <div class="container">
    <div id="responsive-nav">
      <ul class="main-nav nav navbar-nav">
        <li class="active"><a th:href="@{/index}">Home</a></li>

        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/index}">Admin</a></li>

        <li><a th:href="@{/carrinho/carrinho}">Carrinho</a></li>

        <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>

        <li sec:authorize="isAuthenticated()">
          <form th:action="@{/logout}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-link" style="padding: 20px 0px; color: #D10024; text-decoration: none;">
              Logout (<span sec:authentication="name"></span>)
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>