<!DOCTYPE html>
<html lang="en">
<body>
<!-- NAVIGATION -->
<nav id="navadm">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a th:href="@{/admin/cadastrar}">cadastrar</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
</body>
</html>