<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="tabela">
<table border="1" class="table table-striped">
    <thead>
    <tr>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Gênero</th>
        <th>Classificação</th>
        <th>Preço</th>
        <th>Estoque</th>
        <th>Mídia</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Jogo : ${Jogos}">
        <td><img th:src="@{/images/{img}(img=${Jogo.imgUrl})}" alt="Imagem do Jogo" style="width:100px;"></td>
        <td th:text="${Jogo.nomeJogo}"></td>
        <td th:text="${Jogo.genero}"></td>
        <td th:text="${Jogo.classificacao}"></td>
        <td th:text="${#numbers.formatCurrency(Jogo.preco)}"></td>
        <td th:text="${Jogo.estoque}"></td>
        <td th:text="${Jogo.tipoMidia}"></td>
        <td>
            <a th:href="@{/carrinho/adicionar/{id}(id=${Jogo.id})}" class="btn btn-primary btn-sm">Adicionar ao Carrinho</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>