<!DOCTYPE html>
<html lang="en">
<body  th:fragment="tabela">
<table border="1">
    <thead>
    <tr>
        <th>Nome</th>
        <th>genero</th>
        <th>classificação</th>
        <th>Preço</th>
        <th>estoque</th>
        <th>midia</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Jogo : ${Jogos}">
        <td th:text="${Jogo.nomeJogo}"></td>
        <td th:text="${Jogo.genero}"></td>
        <td th:text="${Jogo.classificacao}"></td>
        <td th:text="${Jogo.preco}"></td>
        <td th:text="${Jogo.estoque}"></td>
        <td th:text="${Jogo.tipoMidia}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>