<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>retrogames</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="fragments/header :: #navigation"></div>
<a th:href="@{/admin/cadastrar}">
    <button type="button" class="btn btn-success btn-sm">Cadastrar Produto</button>
</a>
<div th:insert="fragments/tabelaitensadm :: tabela"></div>
</body>
<footer th:insert="fragments/footer :: footer"></footer>
</html>