<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Jogo</title>
</head>
<body>
<h1>Cadastrar Novo Jogo</h1>

<form action="#" th:action="@{/admin/cadastrar}" th:object="${jogo}" method="post">

    <p>Nome: <input type="text" th:field="*{nomeJogo}" /></p>
    <p>Gênero: <input type="text" th:field="*{genero}" /></p>
    <p>Classificação: <input type="number" th:field="*{classificacao}" /></p>
    <p>Preço: <input type="number" th:field="*{preco}" /></p>
    <p>Estoque: <input type="number" th:field="*{estoque}" /></p>
    <p>Tipo de Mídia: <input type="text" th:field="*{tipoMidia}" /></p>

    <p><input type="submit" value="Salvar" /> <input type="reset" value="Limpar" /></p>
</form>

</body>
</html>